# QF 627 Extras - Financial Analytics
## Random Assignment for Problem-Solving Leadership

In [1]:
import random
import pandas as pd

In [2]:
%whos

Variable   Type      Data/Info
------------------------------
pd         module    <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
random     module    <module 'random' from '/o<...>ib/python3.13/random.py'>

In [3]:
roster = pd.read_csv("qf627_extras_ay2425_april.csv")
roster

                    name
0           ASMITA GUPTA
1     LEW SHAO LIANG IAN
2           WANG JIAYING
3            NGO BA LONG
4  ONG HUI FANG MICHELLE
5           LEOW WEI MIN
6          NGAI YEE TING
7           LOW ZE SHENG

In [4]:
students =\
    roster["name"] \
    .tolist()

In [5]:
random.seed(627)

In [6]:
members_per_group = 2

In [7]:
group = 1

for s in students[:]:
    if members_per_group == 2:
        print("***** Group {} *****".format(group)
             ) 
        members_per_group = 0
        group += 1
    
    student = random.choice(students)
    
    print(student)
    
    members_per_group += 1
    
    students.remove(str(student)
                   )

***** Group 1 *****
ONG HUI FANG MICHELLE
NGAI YEE TING
***** Group 2 *****
LEOW WEI MIN
ASMITA GUPTA
***** Group 3 *****
WANG JIAYING
LEW SHAO LIANG IAN
***** Group 4 *****
NGO BA LONG
LOW ZE SHENG

### YAY~ I wish you the best for the problem-solving exercise, Team :)