# QF 627 Extras - Financial Analytics
## PyDay Week 3 | Review of Basic Python Programming | `RE`view

> Hi, Team 👋 

> Thank you for opening up this script file.

> It would be best if you consider the codes you type here as a new language to communicate with your machine. As long as you provide a complete message in this language, your machine will deliver a reply.

> Before start I'd like to highlight our class policy: `Leave no one behind.` 🙂

### *Why would you use Python?*

* Automate and document routine work (Efficiency)
* Analyze data in a replicable, documented way (Reproducibility of Your Analysis of Data)
* Integrates with other language
* Open source
* It's easy to learn and use!

Open Terminal on a Mac or CMDR or other bash shell on Windows.

- Type: python3 (you'll get a python command line, >>>)

- Type: 2+3

- Type: import this

- Type: CTRL+d

OK, you could do stuff in there all day.

Or you could put code in a text file with the .py extension and run it from the command line (python_filename.py).

But we're going to use **Jupyter Notebook.**

### *Why use Jupyter Notebook?*

* Test your code line by line
* Rewrite it immediately when you err (and you will err)
* You can document/explain more extensively using markdown (what you're reading here)
* Reuse, reuse, reuse

### Let's learn some useful hotkeys for working efficiently on Jupyter Notebook.

- `m` converts the given cell into `m`arkdown cell
- `a` creates a cell `a`bove the current cell
- `b` creates a cell `b`elow the currnet cell
- `dd` `d`eletes the given cell

### Assignment

In [1]:
first_object = "QF627"

In [2]:
%whos

Variable       Type    Data/Info
--------------------------------
first_object   str     QF627

In [3]:
sample_object = 627

In [4]:
%whos

Variable        Type    Data/Info
---------------------------------
first_object    str     QF627
sample_object   int     627

In [5]:
test_object = "627"

In [6]:
%whos

Variable        Type    Data/Info
---------------------------------
first_object    str     QF627
sample_object   int     627
test_object     str     627

In [7]:
sample_object == test_object # returns False
# == logical test

False

In [8]:
1 + 1 # here, the + operand adds the int objects

2

In [9]:
"1" + "1" # here, the + operand concatenates the str objects

'11'

### Commands (Functions)

In [10]:
dir(first_object) # returns attributes available to access

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
%whos

Variable        Type    Data/Info
---------------------------------
first_object    str     QF627
sample_object   int     627
test_object     str     627

### You may access any available attributes using dot accessor (`.`)

In [12]:
first_object.lower() # returns lower-case

'qf627'

### Team, in our class, you will `learn` how to learn :)

In [13]:
help(first_object.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [14]:
# print("hello world") NO NO NO

In [15]:
%whos

Variable        Type    Data/Info
---------------------------------
first_object    str     QF627
sample_object   int     627
test_object     str     627

In [16]:
# First_object # returns an error

In [17]:
first_object

'QF627'

In [18]:
First_object = "anything"

In [19]:
First_object

'anything'

### Note that to err is expected.

> Bummer! That didn't work.

> But this is the first of many errors you (and especially) will make in Python. In part, because we are typing (check the number of times i type pring instead of print). Also, because it's complicated.

#### ***So a few quick error tips:***

1. Proofread your code like a copy editor. Errors often result from misspellings, misplaced punctuation, etc.
2. Google the error message + Python; GenAI products (e.g., ChatGPT; Code Llama; Claude; Gemini; Perplexity)
3. Use [stackoverflow.com](https://stackoverflow.com/) to search the error message or ask questions.
4. So let's try using some quotes and parentheses around that word instead.
5. Our course webpage (Q&A Discussion Board)

> The difference between %who`s` (plural) & %whos (singular)?
- `%whos` prints object name, data type, and values available on RAM space
- `%who` prints object name only

In [20]:
%who

First_object	 first_object	 sample_object	 test_object

In [21]:
print(sample_object) # team, as you learned, this will print object named sample_object

627

In [22]:
# Hashtag in code cell will be your comments

### Comments (Annotations to Your Commands)

Basically, anything that is written without a hashtag in the beginning is a command (code). 

Anything with a hashtag is a comment. Anything that is followed by a hashtag is not recognized in Python. 

The comment is for communication between me and you. The code is for communication between you and your machine.

In [23]:
print("something") # The print() function in a Python script explicitly prints the output. It is time to write your first line of Python code with and without the print() function to observe how it impacts the output of a script.

something

> Since we are trying to interact with our machine, one important thing is to think and write your commands in line with the way your machine understand. 

> Your machine won't know what you wish to execute, without knowing `data types`.

In [24]:
type(627) # type() returns data type of given object

int

In [25]:
str(627) # str() returns data type converted to str

'627'

In [26]:
definition_of_string = "anthing wrapped with quotation mark"

In [27]:
definition_of_string

'anthing wrapped with quotation mark'

In [28]:
type(definition_of_string)

str

### Data Types

Data types are important in Python. 

- **Strings** generally text or things you won't do math on (like zip codes)--get quote marks around them. 

- **Numerals** don't get quotes, and come in two types: namely, `floats` (floating-point, decimal) and `integers`. 

- Then there's **Boolean,** a `True`/`False` type.

But rarely will we simply type in some numbers to add, subtract, multiply and/or divide. 

Calculators work for that.

Programming in Python (or any language, really) works by creating building blocks to achieve our goals.

### Variables

The first of these blocks is a variable. 

And it's pretty straightforward: variable_name = "some type of info".

In [29]:
sample_integer = 627
sample_float = 627.0

In [30]:
%whos

Variable               Type     Data/Info
-----------------------------------------
First_object           str      anything
definition_of_string   str      anthing wrapped with quotation mark
first_object           str      QF627
sample_float           float    627.0
sample_integer         int      627
sample_object          int      627
test_object            str      627

In [31]:
6e6 # 6 multiply by 10 to the power of 6

6000000.0

In [32]:
6e9 # scientific notation

6000000000.0

### Variable Names 

- Names can be upper or lower case letters, digits, and underscores.
- Variables `CANNOT` ***start with a digit.***
- Some variable names are reserved in Python (e.g., class or type) and should beavoided (We will get back to this).

In [33]:
my_string = "I'm learning Python!"

In [34]:
assignment_of_string = 'python'

In [35]:
assignment_of_string_object = "python"

In [36]:
assignment_of_string == assignment_of_string_object

True

In [37]:
# string_to_fix = 'I'll use it for extracting, wrangling, managing, and analyzing my data.'

In [38]:
string_to_fix = "I'll use it for extracting, wrangling, managing, and analyzing my data."

In [39]:
string_to_fix = 'I\'ll use it for extracting, wrangling, managing, and analyzing my data.'
# NOTE: Team, here, the backward slash (\) resolves the problem of ambiguation :)

In [40]:
string_to_fix

"I'll use it for extracting, wrangling, managing, and analyzing my data."

In [41]:
dir(assignment_of_string_object)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [42]:
assignment_of_string_object.capitalize() + "!" + " " + string_to_fix

"Python! I'll use it for extracting, wrangling, managing, and analyzing my data."

> Let's assess stock trends with fictious variables.

In [43]:
price = 50
earnings = 150

> One more hot-key: Shift + `l` adds `l`ine number into your cell

In [44]:
price_2 = 150

> Again, one more hot-key: Shift + ctrl + `-` `splits` the given cell into two separate cells

In [45]:
earnings_2 = 250

> What data type is a variable? 
> Let's get the type of an object.
> To identify the type, we can use the function `type()`

In [46]:
# type(price) returns int
# type(earnings) returns int
# type(price/earnings) returns float

In [47]:
# "Price to earning ratio is " + price/earnings # this will throw an error!

In [48]:
pe_ratio_str = str(price/earnings)
 # = denotes refers to

In [49]:
"Price to earning ratio is " + pe_ratio_str  + "."
                               # string

'Price to earning ratio is 0.3333333333333333.'

> What if you wish to change variable types?

> What if you want to print "Price to earning ratio is 50.0"?

> Note that you `cannot directly combine floats with strings`.

> If you wish to print combination of floats and strings, you should `convert the floats to strings` first.

In [50]:
"Price to earning ratio is " + str(price/earnings) + "."

'Price to earning ratio is 0.3333333333333333.'

> How would you be able to switch the following two variables?

In [51]:
filename_A = "QF 627" # referred by filename_B
filename_B = "QF 999" # referred by filename_A

### <mark>If you assign new values to an existing object, the object will be overwritten.</mark>

In [52]:
# filename_A = filename_B
# filename_B = filename_A # NO NO NO

In [53]:
filename_A = filename_B # from now on, filename_A refers to QF 999
filename_B = filename_A # from now on, filename_B refers to QF 999

In [54]:
print(filename_A);print(filename_B)
# semi-colon

QF 999
QF 999

In [55]:
filename_A = "QF 627" # referred by filename_B
filename_B = "QF 999" # referred by filename_A

In [56]:
print(filename_A);print(filename_B)

QF 627
QF 999

In [57]:
filename_interim = filename_A # refers to "QF 627"

filename_A = filename_B # refers to "QF 999"

filename_B = filename_interim

print(filename_A);print(filename_B)

QF 999
QF 627

### Strings

>Let's create a string and assign it to a variable.

In [58]:
string_to_test = "python"

> Make a comment to yourself and then get the length of your string.

In [59]:
len(string_to_test) # returns 6; len() returns number of elements

6

> Team, here, you `learn` `how to learn`!

In [60]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

>Recall that a string is just a series of characters, not a word or a sentence.

>So you can "slice" off pieces of a string based on the index of the characters in it.

>Try to slice off the last 5 characters in `my_string`

In [61]:
string_to_test[0]

'p'

In [62]:
string_to_test[1]

'y'

In [63]:
string_to_test[2]

't'

In [64]:
string_to_test[0:3] == "pyt"
# : through
# zero through 3
# 1st element through 4th element? (NO NO NO)
# 1st element through 3rd element YES YES YES

True

In [65]:
string_to_test[2:5]

'tho'

In [66]:
string_to_test[5] == string_to_test[-1]

True

In [67]:
string_to_test[4] == string_to_test[-2]

True

In [68]:
string_to_test[3] == string_to_test[3 - 6]

True

In [69]:
string_to_test[1:-2]

'yth'

>Convert it to lowercase.

In [70]:
"PYTHON".lower()

'python'

>Convert it to uppercase.

In [71]:
"python is so interesting".upper()

'PYTHON IS SO INTERESTING'

In [72]:
%whos

Variable                      Type     Data/Info
------------------------------------------------
First_object                  str      anything
assignment_of_string          str      python
assignment_of_string_object   str      python
definition_of_string          str      anthing wrapped with quotation mark
earnings                      int      150
earnings_2                    int      250
filename_A                    str      QF 999
filename_B                    str      QF 627
filename_interim              str      QF 627
first_object                  str      QF627
my_string                     str      I'm learning Python!
pe_ratio_str                  str      0.3333333333333333
price                         int      50
price_2                       int      150
sample_float                  float    627.0
sample_integer                int      627
sample_object                 int      627
string_to_fix                 str      I'll use it for extractin<...>g, and analyzing my data.
string_to_test                str      python
test_object                   str      627

> Concatenate strings. We've sort of done this above.

In [73]:
my_string + my_string

"I'm learning Python!I'm learning Python!"

In [74]:
my_string + " " + my_string # + operand with strings --> concatenate strings

"I'm learning Python! I'm learning Python!"

In [75]:
empty_string = " "

In [76]:
type(empty_string)

str

In [77]:
nothing_is_impossible = my_string * 2

In [78]:
nothing_is_impossible

"I'm learning Python!I'm learning Python!"

In [79]:
dir(nothing_is_impossible)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [80]:
nothing_is_impossible

"I'm learning Python!I'm learning Python!"

In [81]:
nothing_is_impossible.replace("!", "! ", 1)

"I'm learning Python! I'm learning Python!"

In [82]:
help(nothing_is_impossible.replace)

Help on built-in function replace:

replace(old, new, /, count=-1) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

>Split strings.

In [83]:
nothing_is_impossible

"I'm learning Python!I'm learning Python!"

In [84]:
nothing_is_impossible.split("!")

["I'm learning Python", "I'm learning Python", '']

>Join a list of strings

In [85]:
"!!".join(["I'm learning Python", "I'm learning Python", '']
         )

# 1. Answer
# 2. Opportunity
# 3. Blessing

"I'm learning Python!!I'm learning Python!!"

>Let's remove a character--note that it's space sensitive.

In [86]:
nothing_is_impossible.replace(" ", "")

"I'mlearningPython!I'mlearningPython!"

>Strip whitespace.

In [87]:
whitespace = "           Hi, Team :)               "

In [88]:
whitespace

'           Hi, Team :)               '

>Removes only leading whitespace characters.

In [89]:
whitespace.lstrip() # left strip

'Hi, Team :)               '

>Removes only trailing whitespace chars.

In [90]:
whitespace.rstrip()

'           Hi, Team :)'

In [91]:
whitespace.strip()

'Hi, Team :)'

### Again, you will `learn` how to `learn` (no pun intended)

>When you need `help remembering what methods` your variable has available.

In [92]:
dir(whitespace)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

>When you need `help on a specific method`.

In [93]:
help(whitespace.rstrip)

Help on built-in function rstrip:

rstrip(chars=None, /) method of builtins.str instance
    Return a copy of the string with trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [94]:
import antigravity

###  `Debugging` Tips

- Don't panic
- read from the bottom
- learn the rules (= google the error) 
- use `print` statements in places where variables are created or changed

Remember the following line of the code?

string_to_fix = 'I\'ll use Python for extracting, wrangling, managing, and analyzing my data.'

### `Identifying ErrorName` will be a good starting point :)

| ErrorName | Example | Description (non-exhaustive) |
| --- | --- | --- |
| SyntaxError | 1) stocks = ["AAPL", "MSFT", "GOOGL" | Forgetting to close quotes and parentheses | 
| ValueError | int("AAPL") | Assiging an inappropriate value |
| NameError | stocks = ["AAPL", "MSFT", "GOOGL"];print(stokcs) | A particular variable name is not found |

|A  |B  |
|---|---|
|cat|dog|

## Data Structures

### 1 dimensional data ==> vector

|built-in | numpy   | pandas |
|---------|---------|--------|
|list     |1-d array| Series |

### 2 dimensional data ==> matrix

|built-in   | numpy   | pandas    |
|-----------|---------|-----------|
|nested list|2-d array| DataFrame |

### Lists

> You might want to create `a variable that includes several items`, like a list of numbers. 

> For that, Python uses `lists`: surrounded by square brackets and separated by commas. 

> You might think of it as a single row in Excel.

> Each item in a Python list takes an ordered position called an index.

> You can use the integer representing the index position inside the square brackets for `indexing`.

In [95]:
scalar_sample = 627

In [96]:
pow(10, 3)

1000

In [97]:
type(10**3)

int

In [98]:
type(1e3) # scientific notation

float

In [99]:
vector_sample = ["QF", 627, True, True, 1e3, 1e6, 1e9]
                # str  # int # bool # bool # float

In [100]:
type(vector_sample)

list

In [101]:
len(vector_sample)

7

In [102]:
vector_sample[1] == 627

True

In [103]:
## built-in python does not support vectorized computing, by default.
                                 ## element-wise operations

In [104]:
vector_for_numerical_calculation = [6, 0, 5, 0]

In [105]:
vector_for_numerical_calculation * 2

[6, 0, 5, 0, 6, 0, 5, 0]

### with NumPy

In [106]:
import numpy as np

In [107]:
dir(np)

['False_',
 'ScalarType',
 'True_',
 '_CopyMode',
 '_NoValue',
 '__NUMPY_SETUP__',
 '__all__',
 '__array_api_version__',
 '__array_namespace_info__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__dir__',
 '__doc__',
 '__expired_attributes__',
 '__file__',
 '__former_attrs__',
 '__future_scalars__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__numpy_submodules__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_array_api_info',
 '_core',
 '_distributor_init',
 '_expired_attrs_2_0',
 '_globals',
 '_int_extended_msg',
 '_mat',
 '_msg',
 '_pyinstaller_hooks_dir',
 '_pytesttester',
 '_specific_msg',
 '_type_info',
 '_typing',
 '_utils',
 'abs',
 'absolute',
 'acos',
 'acosh',
 'add',
 'all',
 'allclose',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfortranarray',
 'asin',
 'asinh',
 'asmatrix',
 'astype',
 'atan',
 'atan2',
 'atanh',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_count',
 'bitwise_invert',
 'bitwise_left_shift',
 'bitwise_not',
 'bitwise_or',
 'bitwise_right_shift',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'bytes_',
 'c_',
 'can_cast',
 'cbrt',
 'cdouble',
 'ceil',
 'char',
 'character',
 'choose',
 'clip',
 'clongdouble',
 'column_stack',
 'common_type',
 'complex128',
 'complex64',
 'complexfloating',
 'compress',
 'concat',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumsum',
 'cumulative_prod',
 'cumulative_sum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'dtypes',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exceptions',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'f2py',
 'fabs',
 'fft',
 'fill_diagonal',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float16',
 'float32',
 'float64',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'frexp',
 'from_dlpack',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'inner',
 'insert',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isdtype',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issubdtype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longdouble',
 'longlong',
 'ma',
 'mask_indices',
 'matmul',
 'matrix',
 'matrix_transpose',
 'matvec',
 'max',
 'maximum',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mod',
 'modf',
 'moveaxis',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'ndarray',
 'ndenumerate',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'number',
 'object_',
 'ogrid',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'permute_dims',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'pow',
 'power',
 'printoptions',
 'prod',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'row_stack',
 's_',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctypeDict',
 'searchsorted',
 'select',
 'set_printoptions',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'show_runtime',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'sinh',
 'size',
 'sort',
 'sort_complex',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str_',
 'strings',
 'subtract',
 'sum',
 'swapaxes',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'transpose',
 'trapezoid',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'typing',
 'ubyte',
 'ufunc',
 'uint',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulong',
 'ulonglong',
 'union1d',
 'unique',
 'unique_all',
 'unique_counts',
 'unique_inverse',
 'unique_values',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unstack',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vecdot',
 'vecmat',
 'vectorize',
 'void',
 'vsplit',
 'vstack',
 'where',
 'zeros',
 'zeros_like']

```python
np.array() # using np object access function array()
           # array() takes list object in built-in python then convert it into numpy array object
```

In [108]:
array_for_num_cal =\
(
    np
    .array(vector_for_numerical_calculation)
)

In [109]:
type(array_for_num_cal)

numpy.ndarray

In [110]:
array_for_num_cal.ndim

1

In [111]:
array_for_num_cal * 2 # returns element-wise operation

array([12,  0, 10,  0])

In [112]:
# lists_in_list = [[1,2,3],[3,4,5],[5,6,7]] # this is not the way to go...

In [113]:
lists_in_list =\
    [
        [1, 2, 3],
        [3, 4, 5],
        [5, 6, 7]
    ]

In [114]:
len(lists_in_list) # nested list

3

In [115]:
lists_in_list[1][0]

3

In [116]:
lists_in_list * 2

[[1, 2, 3], [3, 4, 5], [5, 6, 7], [1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [117]:
array_2d =\
(
    np
    .array(lists_in_list)
)

In [118]:
array_2d

array([[1, 2, 3],
       [3, 4, 5],
       [5, 6, 7]])

In [119]:
len(array_2d)

3

In [120]:
array_2d.mean() # division

np.float64(4.0)

In [121]:
array_2d.mean(axis = 0)

array([3., 4., 5.])

In [122]:
array_2d.std(axis = 0)

array([1.63299316, 1.63299316, 1.63299316])

In [123]:
array_2d.std()

np.float64(1.8257418583505538)

In [124]:
array_2d.mean(axis = 1)

array([2., 4., 6.])

In [125]:
values_from_0_to_29 =\
(
    np
    .arange(0, 30, 1)
)

In [126]:
values_from_0_to_29.ndim == 1

True

In [127]:
(
    values_from_0_to_29
    .reshape(5, 6)
).ndim

2

In [128]:
array_2d =\
(
    values_from_0_to_29
    .reshape(5, 6)
)

In [129]:
array_2d

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [130]:
array_2d.mean(axis = 0)

array([12., 13., 14., 15., 16., 17.])

In [131]:
len(
    array_2d
    .mean(axis = 1)
)

5

### with pandas

In [132]:
import pandas as pd

In [133]:
%whos

Variable                           Type       Data/Info
-------------------------------------------------------
First_object                       str        anything
antigravity                        module     <module 'antigravity' fro<...>thon3.13/antigravity.py'>
array_2d                           ndarray    5x6: 30 elems, type `int64`, 240 bytes
array_for_num_cal                  ndarray    4: 4 elems, type `int64`, 32 bytes
assignment_of_string               str        python
assignment_of_string_object        str        python
definition_of_string               str        anthing wrapped with quotation mark
earnings                           int        150
earnings_2                         int        250
empty_string                       str
filename_A                         str        QF 999
filename_B                         str        QF 627
filename_interim                   str        QF 627
first_object                       str        QF627
lists_in_list                      list       n=3
my_string                          str        I'm learning Python!
nothing_is_impossible              str        I'm learning Python!I'm learning Python!
np                                 module     <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
pd                                 module     <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
pe_ratio_str                       str        0.3333333333333333
price                              int        50
price_2                            int        150
sample_float                       float      627.0
sample_integer                     int        627
sample_object                      int        627
scalar_sample                      int        627
string_to_fix                      str        I'll use it for extractin<...>g, and analyzing my data.
string_to_test                     str        python
test_object                        str        627
values_from_0_to_29                ndarray    30: 30 elems, type `int64`, 240 bytes
vector_for_numerical_calculation   list       n=4
vector_sample                      list       n=7
whitespace                         str                   Hi, Team :)

In [134]:
pd.Series(array_for_num_cal)

0    6
1    0
2    5
3    0
dtype: int64

|structure|Python     |numpy   |pandas   |
|---------|-----------|--------|---------|
|vector   |list       |1d-array|Series   |
|matrix   |nested list|2d-array|DataFrame|

In [135]:
pd.DataFrame(array_2d)

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29

In [136]:
(
    pd
    .DataFrame(array_2d, # 2d-array (numpy.ndarray)
               index = ["A", "B", "C", "D", "E"]
              )
)

    0   1   2   3   4   5
A   0   1   2   3   4   5
B   6   7   8   9  10  11
C  12  13  14  15  16  17
D  18  19  20  21  22  23
E  24  25  26  27  28  29

In [137]:
(
    pd
    .DataFrame(array_2d, # 2d-array (numpy.ndarray)
               index = ["A", "B", "C", "D", "E"],
               columns = ["F", "G", "H", "I", "J", "K"]
              )
)

    F   G   H   I   J   K
A   0   1   2   3   4   5
B   6   7   8   9  10  11
C  12  13  14  15  16  17
D  18  19  20  21  22  23
E  24  25  26  27  28  29

In [138]:
DF_2d_interface =\
(
    pd
    .DataFrame(array_2d, # 2d-array (numpy.ndarray)
               index = ["A", "B", "C", "D", "E"],
               columns = ["F", "G", "H", "I", "J", "K"]
              )
)

### Explicit Location Accessor --> `.loc[]`

In [139]:
DF_2d_interface

    F   G   H   I   J   K
A   0   1   2   3   4   5
B   6   7   8   9  10  11
C  12  13  14  15  16  17
D  18  19  20  21  22  23
E  24  25  26  27  28  29

In [140]:
DF_2d_interface.loc["B", "H"]

np.int64(8)

### Implicit Location Accessor --> `.iloc[]`

In [141]:
DF_2d_interface.iloc[1, 2]

np.int64(8)

In [142]:
DF_2d_interface.iloc[1:3, 2:4]

    H   I
B   8   9
C  14  15

In [143]:
DF_2d_interface[["F", "J"]] # double square bracket returns DF

    F   J
A   0   4
B   6  10
C  12  16
D  18  22
E  24  28

### Three elements of DataFrame

- `.index` row index
- `.columns` column names
- `.values` cell-entry values --> 2d-array

In [144]:
DF_2d_interface.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [145]:
DF_2d_interface.columns

Index(['F', 'G', 'H', 'I', 'J', 'K'], dtype='object')

In [146]:
DF_2d_interface.values

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

### Financial Time-Series DF

#### time-series index

In [147]:
ts_index =\
(
    pd
    .date_range("2025-05-04",
                periods = 10,
                freq = "D")
)

ts_index

DatetimeIndex(['2025-05-04', '2025-05-05', '2025-05-06', '2025-05-07',
               '2025-05-08', '2025-05-09', '2025-05-10', '2025-05-11',
               '2025-05-12', '2025-05-13'],
              dtype='datetime64[ns]', freq='D')

In [148]:
ts_index_wo_weekends =\
(
    pd
    .date_range("2025-05-04",
                periods = 10,
                freq = "B") # business days
)

In [149]:
ts_index_wo_weekends

DatetimeIndex(['2025-05-05', '2025-05-06', '2025-05-07', '2025-05-08',
               '2025-05-09', '2025-05-12', '2025-05-13', '2025-05-14',
               '2025-05-15', '2025-05-16'],
              dtype='datetime64[ns]', freq='B')

#### Columns

In [150]:
columns_list = ["B", "T", "S"]

In [151]:
list("BTS") == columns_list

True

### Cell-entry values: 2d-array 30 values

In [152]:
numpy_2d_1through30 =\
(
    np
    .arange(1, 31, 1)
    .reshape(10, -1)
                # Degree of Freedom
)

In [153]:
numpy_2d_1through30

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24],
       [25, 26, 27],
       [28, 29, 30]])

### Putting all things together :)

In [154]:
%who

DF_2d_interface	 First_object	 antigravity	 array_2d	 array_for_num_cal	 assignment_of_string	 assignment_of_string_object	 columns_list	 definition_of_string
earnings	 earnings_2	 empty_string	 filename_A	 filename_B	 filename_interim	 first_object	 lists_in_list	 my_string
nothing_is_impossible	 np	 numpy_2d_1through30	 pd	 pe_ratio_str	 price	 price_2	 sample_float	 sample_integer
sample_object	 scalar_sample	 string_to_fix	 string_to_test	 test_object	 ts_index	 ts_index_wo_weekends	 values_from_0_to_29	 vector_for_numerical_calculation
vector_sample	 whitespace

In [155]:
our_financial_ts =\
(
    pd
    .DataFrame(numpy_2d_1through30,
               index = ts_index,
               columns = columns_list)
)

In [156]:
our_financial_ts

             B   T   S
2025-05-04   1   2   3
2025-05-05   4   5   6
2025-05-06   7   8   9
2025-05-07  10  11  12
2025-05-08  13  14  15
2025-05-09  16  17  18
2025-05-10  19  20  21
2025-05-11  22  23  24
2025-05-12  25  26  27
2025-05-13  28  29  30

$$
    outcome = \beta_0 + \beta_1{B}^2 + \beta_2{B} + \beta_3 \times {S} + \epsilon
$$

In [157]:
our_financial_ts["B"] ** 2 + our_financial_ts["B"] + 3 * our_financial_ts["S"]

2025-05-04     11
2025-05-05     38
2025-05-06     83
2025-05-07    146
2025-05-08    227
2025-05-09    326
2025-05-10    443
2025-05-11    578
2025-05-12    731
2025-05-13    902
Freq: D, dtype: int64

In [158]:
dir(our_financial_ts) # DF

['B',
 'S',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__firstlineno__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [159]:
our_financial_ts.B # dot accessor column name and DF_name["column_name"] --> they are NOT the same!!

2025-05-04     1
2025-05-05     4
2025-05-06     7
2025-05-07    10
2025-05-08    13
2025-05-09    16
2025-05-10    19
2025-05-11    22
2025-05-12    25
2025-05-13    28
Freq: D, Name: B, dtype: int64

In [160]:
our_financial_ts["B"]

2025-05-04     1
2025-05-05     4
2025-05-06     7
2025-05-07    10
2025-05-08    13
2025-05-09    16
2025-05-10    19
2025-05-11    22
2025-05-12    25
2025-05-13    28
Freq: D, Name: B, dtype: int64

In [161]:
our_financial_ts["T"] # square bracket ["column_name"] returns a Series

2025-05-04     2
2025-05-05     5
2025-05-06     8
2025-05-07    11
2025-05-08    14
2025-05-09    17
2025-05-10    20
2025-05-11    23
2025-05-12    26
2025-05-13    29
Freq: D, Name: T, dtype: int64

In [162]:
our_financial_ts

             B   T   S
2025-05-04   1   2   3
2025-05-05   4   5   6
2025-05-06   7   8   9
2025-05-07  10  11  12
2025-05-08  13  14  15
2025-05-09  16  17  18
2025-05-10  19  20  21
2025-05-11  22  23  24
2025-05-12  25  26  27
2025-05-13  28  29  30

In [163]:
our_financial_ts.T # dot is an accessor --> you are accessing an attribute
                   # T is an attribute in pandas DataFrame that is preserved for transposed version of the current DF

,2025-05-04,2025-05-05,2025-05-06,2025-05-07,2025-05-08,2025-05-09,2025-05-10,2025-05-11,2025-05-12,2025-05-13
B,1,4,7,10,13,16,19,22,25,28
T,2,5,8,11,14,17,20,23,26,29
S,3,6,9,12,15,18,21,24,27,30

In [164]:
(
    our_financial_ts
    .describe()
).T

   count  mean       std  min   25%   50%    75%   max
B   10.0  14.5  9.082951  1.0  7.75  14.5  21.25  28.0
T   10.0  15.5  9.082951  2.0  8.75  15.5  22.25  29.0
S   10.0  16.5  9.082951  3.0  9.75  16.5  23.25  30.0

```python
DF["column"] # returns Series
```

```python
DF[["column"]] # returns DF
```

In [165]:
type(our_financial_ts[["T"]]
    )

pandas.core.frame.DataFrame

In [166]:
type(our_financial_ts["T"]
    )

pandas.core.series.Series

### Things to be cautious

#### 1. Note that some words are special or reserved in Python. 

We can't name our integer variable int or our float simply float.

The same goes with the following words: 

`and`	`as`	`assert`	

`break`  

`class` `continue`	

`def`	`del`

`elif`	`else`	`except`

`False` `finally` `for`	`from`	

`global`

`if`	`import`	`in`	`is`

`lambda`	

`None`	`nonlocal`	`not`

`or`	

`pass`	

`raise`	`return`

`True`	`try`	`while`	`with`

`yield`

#### 2. ==

Note the double equal ==. 

That's the Python equivalent for a single on your calculator. 

#### 3. !=

And != is the equivalent of not equal.

#### 4. Python is an `indententation-sensitive` langauge.

And note the `indentation`--it's `four spaces`, and it's `important for Python`. 

Some text editors (Jupyter Notebook or Sublime Text, for instance) will automatically indent properly. 

But not all tabs are four spaces. So use caution!

#### 5. Capitalization of `True` and `False`

Also note the capitalization of True and False. 

And the fact that those reserved/special words show up as green.

### In case that you cannot recall Python keywords that I have listed above...

In [167]:
import keyword

In [168]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Booleans

> `==` equal 

> `!=` does not equal

> `>` greater than

> `<` less than

>Create two variables, assign values and compare them.

In [169]:
A = 10
a = 12

In [170]:
A == a

False

In [171]:
"A" == "a"

False

In [172]:
A = 5

In [173]:
A

5

In [174]:
a = 5

In [175]:
A == a

True

In [176]:
"A" == "a"

False

> Create two variables, assign one as a number and one as a string and compare them.

In [177]:
z = 627

In [178]:
z_twins = "627"

In [179]:
z == z_twins # in R, this returns TRUE
             # But in Python, this returns False

False

### `if else` Statements

In [180]:
x = "QF 627"
X = "QF 627"

In [181]:
if "X" == "x":
    print(True)
else:
    print(False)

False

In [182]:
if x == X:
    print(True)
else:
    print(False)

True

In [183]:
numeric_score = 88

if numeric_score >=90:
    print("A")
else:
    print("Keep working harder :)")

Keep working harder :)

In [184]:
numeric_score = 88

if numeric_score >=90:
    print("A")
elif numeric_score >=80:
    print("A-")
else:
    print("Keep working harder :)")

A-

### Let's create a minimalist customized `function()`

One other basic concept that typically combines many of these elements is a function. 

You might use a series of functions (building blocks) to achieve your programming goals. 

Here's an example of one

In [185]:
def addition(A, B):
    return A + B

In [186]:
%whos

Variable                           Type             Data/Info
-------------------------------------------------------------
A                                  int              5
DF_2d_interface                    DataFrame            F   G   H   I   J   K<...>E  24  25  26  27  28  29
First_object                       str              anything
X                                  str              QF 627
a                                  int              5
addition                           function         <function addition at 0x12f2559e0>
antigravity                        module           <module 'antigravity' fro<...>thon3.13/antigravity.py'>
array_2d                           ndarray          5x6: 30 elems, type `int64`, 240 bytes
array_for_num_cal                  ndarray          4: 4 elems, type `int64`, 32 bytes
assignment_of_string               str              python
assignment_of_string_object        str              python
columns_list                       list             n=3
definition_of_string               str              anthing wrapped with quotation mark
earnings                           int              150
earnings_2                         int              250
empty_string                       str
filename_A                         str              QF 999
filename_B                         str              QF 627
filename_interim                   str              QF 627
first_object                       str              QF627
keyword                            module           <module 'keyword' from '/<...>b/python3.13/keyword.py'>
lists_in_list                      list             n=3
my_string                          str              I'm learning Python!
nothing_is_impossible              str              I'm learning Python!I'm learning Python!
np                                 module           <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
numeric_score                      int              88
numpy_2d_1through30                ndarray          10x3: 30 elems, type `int64`, 240 bytes
our_financial_ts                   DataFrame                     B   T   S\n2<...>7\n2025-05-13  28  29  30
pd                                 module           <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
pe_ratio_str                       str              0.3333333333333333
price                              int              50
price_2                            int              150
sample_float                       float            627.0
sample_integer                     int              627
sample_object                      int              627
scalar_sample                      int              627
string_to_fix                      str              I'll use it for extractin<...>g, and analyzing my data.
string_to_test                     str              python
test_object                        str              627
ts_index                           DatetimeIndex    DatetimeIndex(['2025-05-0<...>atetime64[ns]', freq='D')
ts_index_wo_weekends               DatetimeIndex    DatetimeIndex(['2025-05-0<...>atetime64[ns]', freq='B')
values_from_0_to_29                ndarray          30: 30 elems, type `int64`, 240 bytes
vector_for_numerical_calculation   list             n=4
vector_sample                      list             n=7
whitespace                         str                         Hi, Team :)
x                                  str              QF 627
z                                  int              627
z_twins                            str              627

In [187]:
2 + 3

5

In [188]:
addition(A = 3, B = 2)

5

In [189]:
addition(3, 2)

5

In [190]:
addition(2, 3) == 3 + 2

True

### function with names: <mark>def </mark>

In [191]:
def convert_fahrenheit_to_celsius(f):
    return (f - 32) * 5 / 9

In [192]:
convert_fahrenheit_to_celsius(f = 78)

25.555555555555557

In [193]:
convert_fahrenheit_to_celsius(77)

25.0

In [194]:
def cal_power(x, n):
    return x**n

In [195]:
cal_power(2, 4)

16

In [196]:
sample_array = np.array([2, 3, 4])

In [197]:
sample_array

array([2, 3, 4])

In [198]:
cal_power(sample_array, 4)

array([ 16,  81, 256])

In [199]:
def apply_function_twice(func, x):
    return func(func(x)
               )

In [200]:
def run_square(x):
    return x * x

In [201]:
run_square(8)

64

### Anonymous function: <mark>lambda</mark>

In [202]:
sqaure = lambda x: x * x

In [203]:
sqaure(8)

64

In [204]:
x = lambda a, b, c: a * b + c

In [205]:
x(2,4,6)

14

In [206]:
apply_function_twice(lambda x: x + 3, 7)
                     # 10
                     # 13

13

In [207]:
sample_fruits_list = ["apple", "banana", "tomato", "orange"]

In [208]:
sample_fruits_list.sort()

In [209]:
sample_fruits_list # alphabetic order

['apple', 'banana', 'orange', 'tomato']

In [210]:
sample_fruits_list.sort(key = lambda word: word[-1]
                       )

In [211]:
sample_fruits_list

['banana', 'apple', 'orange', 'tomato']

### Loops

We've done an `if/else` conditional statement.

We can also control what we're getting from files, URLs or other code by using `for` loops.

For (again, no pun intended) instance, instead of using individual print statements (tedious, especially if you misspell pring, I mean, print, all the time), you can use a loop to call each item in the list.

Here's the thinking behind a for loop in what's called pseudocode.

This is a good way to draft out what you're trying to do with your code::

for each item in the list:
- do something
- maybe another thing
- maybe more stuff even

Let's try it with my_list.

> Let's take your list or make a new one, loop through it printing out each value.

In [212]:
for each_letter in "letter":
    print(each_letter) # print("letter"[0])
                       # print("letter"[1])
                       # print("letter"[...])
                       # print("letter"[-1])

l
e
t
t
e
r

In [213]:
sample_list_for_loops =\
    ["We",
     "love",
     "financial",
     "data",
     "science"]

In [214]:
sample_list_for_loops

['We', 'love', 'financial', 'data', 'science']

In [215]:
for e in sample_list_for_loops[0:4]:
    print(e)

We
love
financial
data

In [216]:
temperature = [12, 23, 24, 25, 26, 78, 79, 83]

In [217]:
%who

A	 DF_2d_interface	 First_object	 X	 a	 addition	 antigravity	 apply_function_twice	 array_2d
array_for_num_cal	 assignment_of_string	 assignment_of_string_object	 cal_power	 columns_list	 convert_fahrenheit_to_celsius	 definition_of_string	 e	 each_letter
earnings	 earnings_2	 empty_string	 filename_A	 filename_B	 filename_interim	 first_object	 keyword	 lists_in_list
my_string	 nothing_is_impossible	 np	 numeric_score	 numpy_2d_1through30	 our_financial_ts	 pd	 pe_ratio_str	 price
price_2	 run_square	 sample_array	 sample_float	 sample_fruits_list	 sample_integer	 sample_list_for_loops	 sample_object	 scalar_sample
sqaure	 string_to_fix	 string_to_test	 temperature	 test_object	 ts_index	 ts_index_wo_weekends	 values_from_0_to_29	 vector_for_numerical_calculation
vector_sample	 whitespace	 x	 z	 z_twins

In [218]:
for t in temperature:
    print(convert_fahrenheit_to_celsius(t)
         )

-11.11111111111111
-5.0
-4.444444444444445
-3.888888888888889
-3.3333333333333335
25.555555555555557
26.11111111111111
28.333333333333332

### Towards more Pythonian data type (structure): dictionaries | `dict`

How about a loop that prints sentences of they key and the value in person_data? 

We'll add white space, use addition, and rememer when you need quote marks.

### dict{`key`:`value`}

In [219]:
DF =\
(
    pd
    .DataFrame(
        {"A": np.arange(0, 30, 1)
        }
       #{"column_name": cell_entry_values (numpy array)
       #}     
               )
)

DF

     A
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23
24  24
25  25
26  26
27  27
28  28
29  29

In [220]:
(
    pd
    .DataFrame(
        {"A": np.arange(1, 5),
         "B": np.arange(2, 6),
         "C": np.arange(3, 7),
         "D": np.array([4, 5, 6, 7]
                      )
        },
        index = ["F", "N", "C", "E"]
    )
)

   A  B  C  D
F  1  2  3  4
N  2  3  4  5
C  3  4  5  6
E  4  5  6  7

In [221]:
our_classmate_dict =\
    {"first name": "Asmita",
     "last name": "Gupta",
     "country": "India",
     "favorite subject": "Financial Data Science",
     "favorite language": "Python"
    }

In [222]:
our_classmate =\
    {"first name": "Long",
     "last name": "Ngo Ba",
     "country": "Vietnam",
     "favorite subject": "Financial Econometrics",
     "favorite language": "Python"
    }

> Again, it's a pretty straight forward concept.

In [223]:
for key in our_classmate_dict:
    print("The given key is " + key + " and the value is " + our_classmate_dict[key] + "!")

The given key is first name and the value is Asmita!
The given key is last name and the value is Gupta!
The given key is country and the value is India!
The given key is favorite subject and the value is Financial Data Science!
The given key is favorite language and the value is Python!

In [224]:
for key in our_classmate:
    print("The given key is " + key + " and the value is " + our_classmate[key] + "!")

The given key is first name and the value is Long!
The given key is last name and the value is Ngo Ba!
The given key is country and the value is Vietnam!
The given key is favorite subject and the value is Financial Econometrics!
The given key is favorite language and the value is Python!

### How to write `mathematical notations and formula` (A Quick Guide)

> Linear Regression in Machine Learning

$$
    \hat{\beta} = (X^TX)^{-1}X^TY
$$

### Beyond Built-in Python: `Modules, Libraries, Packages`

In [226]:
!pip install numpy pandas lets-plot statsmodels scikit-learn statsmodels mlxtend
# numpy: numerical computation
# pandas: data transformation & manipulation with tabular data
# matplotlib: matlab-like plotting
# seaborn: data visualization for modeling information
# lets-plot: data visualization with Grammar of Graphics principles + interactive visualization of data
# statsmodels: modeling for explanation purposes (causal inference)
# scikit-learn: modeling for prediction purposes (machine learning)
# mlxtend: modeling for prediction purposes (machine learning)

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.13/site-packages (2.2.5)
Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.4.3/libexec/lib/python3.13/site-packages (2.2.3)
Collecting lets-plot
  Downloading lets_plot-4.6.2-cp313-cp313-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting statsmodels
  Downloading statsmodels-0.14.4-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.2 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp313-cp313-macosx_12_0_arm64.whl.metadata (31 kB)
Collecting mlxtend
  Downloading mlxtend-0.23.4-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.4.3/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.4.3/libexec/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.4.3/libexec/lib/python3.13/site-packages (from pandas) (2025.2)
Collecting pypng (from lets-plot)
  Downloading pypng-0.20220715.0-py3-none-any.whl.metadata (13 kB)
Collecting palettable (from lets-plot)
  Downloading palettable-3.3.3-py2.py3-none-any.whl.metadata (3.3 kB)
Collecting scipy!=1.9.2,>=1.8 (from statsmodels)
  Downloading scipy-1.15.3-cp313-cp313-macosx_14_0_arm64.whl.metadata (61 kB)
Collecting patsy>=0.5.6 (from statsmodels)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: packaging>=21.3 in /opt/homebrew/Cellar/jupyterlab/4.4.3/libexec/lib/python3.13/site-packages (from statsmodels) (25.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.1-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Collecting matplotlib>=3.0.0 (from mlxtend)
  Downloading matplotlib-3.10.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib>=3.0.0->mlxtend)
  Downloading contourpy-1.3.2-cp313-cp313-macosx_11_0_arm64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib>=3.0.0->mlxtend)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib>=3.0.0->mlxtend)
  Downloading fonttools-4.58.1-cp313-cp313-macosx_10_13_universal2.whl.metadata (106 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib>=3.0.0->mlxtend)
  Downloading kiwisolver-1.4.8-cp313-cp313-macosx_11_0_arm64.whl.metadata (6.2 kB)
Collecting pillow>=8 (from matplotlib>=3.0.0->mlxtend)
  Downloading pillow-11.2.1-cp313-cp313-macosx_11_0_arm64.whl.metadata (8.9 kB)
Collecting pyparsing>=2.3.1 (from matplotlib>=3.0.0->mlxtend)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.4.3/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading lets_plot-4.6.2-cp313-cp313-macosx_11_0_arm64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 2.9 MB/s eta 0:00:0000:0100:01m
Downloading statsmodels-0.14.4-cp313-cp313-macosx_11_0_arm64.whl (9.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 26.2 MB/s eta 0:00:00a 0:00:01
Downloading scikit_learn-1.6.1-cp313-cp313-macosx_12_0_arm64.whl (11.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.1/11.1 MB 18.2 MB/s eta 0:00:00 0:00:01
Downloading mlxtend-0.23.4-py3-none-any.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 26.2 MB/s eta 0:00:00
Downloading joblib-1.5.1-py3-none-any.whl (307 kB)
Downloading matplotlib-3.10.3-cp313-cp313-macosx_11_0_arm64.whl (8.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 17.4 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.2-cp313-cp313-macosx_11_0_arm64.whl (255 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.58.1-cp313-cp313-macosx_10_13_universal2.whl (2.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 28.0 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp313-cp313-macosx_11_0_arm64.whl (65 kB)
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Downloading pillow-11.2.1-cp313-cp313-macosx_11_0_arm64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 7.2 MB/s eta 0:00:00ta 0:00:01
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Downloading scipy-1.15.3-cp313-cp313-macosx_14_0_arm64.whl (22.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 22.4/22.4 MB 14.5 MB/s eta 0:00:00a 0:00:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Downloading palettable-3.3.3-py2.py3-none-any.whl (332 kB)
Downloading pypng-0.20220715.0-py3-none-any.whl (58 kB)
Installing collected packages: pypng, threadpoolctl, scipy, pyparsing, pillow, patsy, palettable, kiwisolver, joblib, fonttools, cycler, contourpy, scikit-learn, matplotlib, lets-plot, statsmodels, mlxtend
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17/17 [mlxtend]6/17 [mlxtend]els]]
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.58.1 joblib-1.5.1 kiwisolver-1.4.8 lets-plot-4.6.2 matplotlib-3.10.3 mlxtend-0.23.4 palettable-3.3.3 patsy-1.0.1 pillow-11.2.1 pyparsing-3.2.3 pypng-0.20220715.0 scikit-learn-1.6.1 scipy-1.15.3 statsmodels-0.14.4 threadpoolctl-3.6.0

> So, this is just a taste of Python. 

> This barely skims the surface of what you can do in Python, but hopefully this overview will make you comfortable enough to get started and to give you a sense of the language, along with how `Jupyter Notebook` is used.

> Speaking of Jupyter Notebook, note that the default autosave interval in Jupyter notebook is 120 seconds. You can change this with the `%autosave` magic command for an individual notebook like this:

> **One more thing to share, before you go.**

> Jupyter Notebook creates a `checkpoint` file every single time you create an .ipynb file, and then it updates the checkpoint file every single time you manually save your progress for the initial .ipynb.

> A manual save is what's done when the file is saved by clicking the Save and Checkpoint button.

> As a side note, the checkpoint file is located within a hidden folder named .ipynb_checkpoints. This folder is located within the same folder as the initial .ipynb file.

`Thank you for working with the script 👍`